<body>
    <div class="background">
        <div class="space"></div>
        <div class="container">
            <div>  
                 <button mat-raised-button color="primary">                  
                     <mat-icon> spellcheck</mat-icon>         

                 MCQs</button>
            </div>
            <div>           
                 <button mat-raised-button color="primary">  <mat-icon>spellcheck</mat-icon>  Ture or False </button>
            </div>

        </div>

    </div>
</body>